.container {
    align-content: center;
    padding-top: 3vh;
}

#first {
    padding-top: 0vh !important;
}

#section {
    padding-bottom: 4vh;
    padding-top: 4vh;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.3rem;
}

.ts-progress-title {
    padding-top: 3vh;
    padding-bottom: 1vh;
    font-size: 0.95rem
}

.progress-bar {
    /*background-color: #e9204f !important;
    height: 0.2rem;*/
    --padding-top: 2vh;
}

.ts-progress-value {
    position: relative;
    --left: 10% !important;
}

.col-md-6{
    transition: transform 1s ease;
}

.col-md-6:hover {
    transform: scale(1.05);
    transition: transform 1s ease;
}

.progress-bar {
    width: 0;
}

.col-md-6:hover>.progress-bar {
    background-color: #e9204f;
    width: 100%;
    --transform: scale(1.05);
    transition: transform width 1s ease;
}